<table class="table table-borderless border-top mt-4" style="background-color: #fffaf0;">
  <thead class="bg-light">
    <tr>
      <th style="background-color: #ccc8c0; width: 20%;">商品ID</th>
      <th style="background-color: #ccc8c0; width: 20%;">商品名</th>
      <th style="background-color: #ccc8c0; width: 20%;">税抜価格</th>
      <th style="background-color: #ccc8c0; width: 20%;">ジャンル</th>
      <th style="background-color: #ccc8c0; width: 20%;">ステータス</th>
    </tr>
  </thead>
  <tbody style="background-color: #fffaf0;">
    <% items.each do |item| %>
    <tr>
      <td class="align-middle"><%= item.id %></td>
      <td class="align-middle" style="font-family: serif; font-weight:bold; color:#A07B35;"><%= link_to item.name, admin_item_path(item.id), :style => "color: #A07B35;" %></td>
      <td class="align-middle"><%= item.price %></td>
      <td class="align-middle" style="font-family: serif; font-weight:bold; color:#A07B35;"><%= item.genre.name %></td>
      <th class="align-middle">
        <% if item.is_active %>
          <span class="text-success"><strong>販売中</strong></span>
        <% else %>
          <span class="text-danger"><strong>販売停止</strong></span>
        <% end %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>
