<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-8">
          <label class="h4 bg-light mt-4" style="padding-left: 15px;">商品一覧</label>
        </div>
        <div class="col-lg-4 text-right mt-4">
          <%= link_to "+", new_admin_item_path, class:"btn btn-light rounded-circle shadow", style:"font-size: inherit; padding: 12px 16px;" %>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-12">
          <%= render "admin/items/index", items: @items %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mb-2">
    <div class="col-lg-7 offset-lg-5">
      <%= paginate @items %>
    </div>
  </div>
</div>
