      <div class="container">
        <div class="row justify-content-center">
        <div class=" col-2 text-center">
           <h1 style="color:#A07B35; font-size:50px; font-family:'Times New Roman';">About</h1>
           <h1 style="color:#A07B35; font-size:30px; font-family:'Times New Roman';"> ... </h1>
        </div>
     </div>
     <div class="text-center mt-2" style="color:#A07B35; font-family: serif; font-size:18px;">
    <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
    <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
    <p>様々なバリエーションをご用意しております。</p>
    <p>また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
    <p>ぜひご注文ください。</p>
</div>
    <div class="text-center mt-5">
      <%= image_tag 'about2', size: "500x300" %>
    </div>

</div>