<table class="table border-top border-bottom table-condensed mt-4" style="background-color: #fffaf0;">
  <thead class="thead-center">
    <tr>
      <th class="text-center" style="background-color: #ccc8c0; padding-right: 50px;">ジャンル</th>
      <th class="text-center" style="background-color: #ccc8c0; "></th>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
      <tr>
        <td class="text-center align-middle" style="padding-right: 50px; color:#A07B35; font-family: serif;"><%= genre.name %></td>
        <td class="text-center align-middle" style="color:#A07B35; font-family: serif;">
          <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success btn-sm", style: "width: 120px; height: 40px; border-radius: 12px; line-height:30px;" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>