<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2 class="mt-5" style="font-weight:bold; color:#A07B35; font-family:serif; font-size:45px; "><strong>Category List&Addition</strong></h2>
        <%= render 'admin/genres/form', genre: @genre %>
      <div id='genre_index'>
        <%= render 'admin/genres/index', genres: @genres %>
      </div>
    </div>
  </div>
</div>
