<div class = "container">
  <div class = "row">
    <div class = "col-12 mx-auto">
     <h4 class="pl-5 pb-3" style="font-weight:bold; color:#A07B35; font-family:'Times New Roman'; font-size:20px;">
       <h2 class="mb-4" style="font-weight:bold; color:#A07B35; font-family:'Times New Roman'; font-size:45px;"><strong>Delivery Address Registration / List</strong></h2>
     </h4>

      <%= render 'public/addresses/form', address: @address %>
      <div id= 'address_index'>
        <%= render 'public/addresses/index', addresses: @addresses %>
      </div>

    </div>
  </div>
</div>