<div class="container p-3 d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="inner confirm_error my-5 p-5">
      <h2 class="text-center">※エラー※</h2>
      <h3 class="text-center">
    	  問題が発生しました。<br>
    	  お手数ですが、再度情報入力からやり直していただきますようお願いします。
      </h3>
      <div class="text-center pt-3">
    	  <%= link_to "注文情報入力に進む", new_order_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>