<div class="container p-3 d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="pt-5">
      <h4 class="mt-5"><strong>ご注文ありがとうございました！</strong></h4>
    </div>
  </div>
</div>