
<div class="container p-3 d-flex justify-content-center align-items-center">
  <div class="container-fluid" style="background-image: url('<%= asset_path('Nagano_Cake__7_-removebg-preview.png') %>'); background-size: cover; height: 350px;">
  <div class="row">
    <div class="pt-5">
      <h4 class="mt-5"><strong>ご注文ありがとうございました！</strong></h4>
    </div>
  </div>
</div>