/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import 'bootstrap';
 *= require_tree .
 *= require_self
 */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* 必要に応じて、他の要素との重なり順を調整 */
}

/* ヘッダー固定後のコンテンツのマージンやパディングを調整するためのスタイル（例） */
body {
  margin-top: 300px; /* ヘッダーの高さに合わせて調整 */
}

body {
  padding-bottom: 130px; /* フッターの高さに合わせて調整してください */
}
