<footer>
  <div class="fixed-bottom" style="background: #0A6651; height:60px;">
    <p class="text-center" style="color: white; line-height:50px; font-family:'Times New Roman'; font-size:20px;">team akaboshi</p>
  </div>
</footer>